@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,400;9..144,500;9..144,600&family=Manrope:wght@400;500;600&display=swap');

body {
    display: grid;
    grid-template-areas:
    'header'
    'main'
    'footer';
}

.header {
    grid-area: header;
    padding: 5%;
    background: url(../assets/images/bg-pattern-1.svg) -10% center no-repeat, url(../assets/images/bg-pattern-2.svg) center center no-repeat;
    background-color: var(--dark-purple);
    border-radius: 0 0 15% 15%;
    margin-bottom: 6.25rem;
}

.hero img {
    width: 60%;
    position: relative;
    bottom: -9.375rem;
}

.hero h1 {
    font: 400 3.5rem 'Fraunces', sans-serif;
    color: var(--white);
    margin-bottom: 3.125rem;
}

.hero h1 span {
    border-bottom: 3px solid var(--neon-green);
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3.125rem;
}

.header-menu a {
    font: 600 1rem 'Manrope', sans-serif;
    color: var(--white);
    padding-bottom: 0.625rem;
    border-bottom: 3px solid var(--neon-green);
    transition: 0.3s;
}

.header-menu a:hover {
    color: var(--neon-green);
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero a,
.founder a {
    padding: 0.9375rem 1.875rem;
    font: 600 1rem 'Manrope', sans-serif;
    color: var(--dark-purple);
    background: var(--neon-green);
    transition: 0.3s;
}

.hero a:hover,
.founder a:hover {
    border: 1px solid var(--neon-green);
    color: var(--neon-green);
    background: none;
}

.main {
    grid-area: main;
}

.features {
    padding: 5% 10%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    text-align: center;
    gap: 3.125rem;
}

.features article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.875rem;
}

.features article h3 {
    font: 500 1.25rem 'Fraunces', sans-serif;
    color: var(--dark-purple);
    padding: 0.625rem 0.9375rem;
    border: 1px solid var(--dark-purple);
    border-radius: 50%;
}

.features article h2 {
    font: 600 1.8rem 'Fraunces', sans-serif;
    color: var(--dark-purple);
    margin-bottom: 1.875rem;
}

.features article p {
    font: 400 1rem 'Manrope', sans-serif;
    color: var(--dark-purple);
}

.founder {
    padding: 10%;
    display: flex;
}

.founder img {
    width: 50%;
}

.founder article {
    padding: 2.5rem;
    height: fit-content;
    align-self: flex-end;
    position: relative;
    left: -3.125rem;
    background: var(--dark-purple) url(../assets/images/bg-pattern-3.svg) 100% 220% no-repeat;
}

.founder article h1 {
    font: 400 3rem 'Fraunces', sans-serif;
    margin-bottom: 1.25rem;
    color: var(--white);
}

.founder p {
    font: 400 1rem 'Manrope', sans-serif;
    color: var(--white);
    margin-bottom: 2.5rem;
}

.footer {
    padding: 5%;
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
    justify-content: center;
    align-items: center;
    grid-area: footer;
}

.social-medias {
    display: flex;
    gap: 1.25rem;
}

.social-medias a {
    color: var(--dark-gray);
    font-size: 1.5rem;
    transition: 0.3s;
}

.social-medias a:hover {
    color: var(--dark-purple);
}